# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Storage
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Laravel specific
bootstrap/cache/packages.php
bootstrap/cache/services.php
